* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "League Spartan", sans-serif;
	background-color: #fefefe;
}
html {
	font-size: 62.5%;
}
img {
	border-radius: 50%;
	width: 13%;
	height: auto;
}
.container {
	background-color: hsl(0, 0%, 100%);
	max-width: 144rem;
	height: 92.7rem;
	/* padding: 0 3.2rem; */
	margin: 0 auto;
}
.background {
	max-width: 144rem;
	height: 92.7rem;
	background-image: url(../images/bg-pattern-top-desktop.svg),
		url(../images/bg-pattern-bottom-desktop.svg);
	background-repeat: no-repeat;
	background-size: 44% 47%, 80% 77%;
	background-position: left 0em top 0em, right 0em bottom 0em;
}
.grid-2-cols {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
	display: grid;
	grid-template-columns: repeat(3, 0.25fr);
	grid-template-rows: auto;
	column-gap: 3rem;
	justify-content: center;
	align-items: center;
}
.header {
	color: #502050;
	font-size: 7rem;
	font-weight: 700;
	padding: 15rem 8rem 1rem 18rem;
}
.stats-p {
	color: hsl(303, 10%, 53%);
	font-size: 2rem;
	font-weight: 500;
	padding: 0 5rem 0 18rem;
	line-height: 2.5rem;
}
.stars {
	display: flex;
	gap: 1rem;
}
.rates {
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
	padding: 18rem 0 0 10rem;
}
.reviews {
	display: flex;
	width: 47rem;
	height: 6rem;
	border-radius: 1rem;
	overflow: hidden;
	align-items: center;
	gap: 1rem;
	justify-content: flex-start;
	background-color: hsl(300, 24%, 96%);
	padding-left: 3rem;
}
.review-p {
	font-size: 1.6rem;
	color: #502050;
	font-weight: 700;
	padding-left: 2.5rem;
}
.report {
	display: flex;
	width: 47rem;
	height: 6rem;
	border-radius: 1rem;
	overflow: hidden;
	align-items: center;
	gap: 1rem;
	justify-content: flex-start;
	background-color: hsl(300, 24%, 96%);
	padding-left: 3rem;
	/* to move item inside grid to left */
	margin-left: 5rem;
}
.report-p {
	font-size: 1.6rem;
	color: #502050;
	font-weight: 700;
	padding-left: 2.5rem;
}
.besttech {
	display: flex;
	width: 47rem;
	height: 6rem;
	border-radius: 1rem;
	overflow: hidden;
	align-items: center;
	gap: 1rem;
	justify-content: flex-start;
	background-color: hsl(300, 24%, 96%);
	padding-left: 3rem;
	/* to move item inside grid to left */
	margin-left: 10rem;
}
.besttech-p {
	font-size: 1.6rem;
	color: #502050;
	font-weight: 700;
	padding-left: 2.5rem;
}
.ver1 {
	display: flex;
	justify-content: flex-start;
	padding: 4rem 0 2.5rem 3rem;
	gap: 1.8rem;
}
.ver2 {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
}
.testimonials {
	padding: 4rem 0 0 0;
}
.name {
	font: size 1.8rem;
	color: hsl(300, 24%, 96%);
	font-weight: 500;
}
.verified {
	font: size 1.6rem;
	color: #a74973;
	font-weight: 400;
}

.review {
	padding: 0 3rem 4rem 3rem;
	line-height: 2rem;
}

.testimonial1 {
	background-color: #502050;
	color: #d6ccd6;
	font-size: 1.5rem;
	border-radius: 1rem;
	overflow: hidden;
}
.testimonial2 {
	background-color: #502050;
	color: #d6ccd6;
	font-size: 1.5rem;
	border-radius: 1rem;
	overflow: hidden;
	/* to move item inside grid to bottom */
	margin-top: 3rem;
}
.testimonial3 {
	background-color: #502050;
	color: #d6ccd6;
	font-size: 1.5rem;
	border-radius: 1rem;
	overflow: hidden;
	/* to move item inside grid to bottom */
	margin-top: 6rem;
}
.attribution {
	padding-top: 5rem;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
/* Weights: 400, 500, 700 */
